<div class="fondo">
  <br>
  <h1>Sujeto </h1>
  <ul>
    <li><b>valor del sujeto:</b> {{articulos.s.value}}</li>
    <li><b>Tipo:</b>{{articulos.s.type}}</li>
  </ul>
  <br>
  <h1>Predicado </h1>
  <br>
  <ul>
    <li><b>valor del predicado:</b> {{articulos.p.value}}</li>
    <li><b>Tipo: </b>{{articulos.p.type}}</li>
  </ul>
  <br>
  <h1>Objeto </h1>
  <br>
  <ul>
    <li><b>valor del Objeto:</b> {{articulos.o.value}}</li>
    <li><b>Tipo:</b> {{articulos.o.type}}</li>
  </ul>




  <br>
</div>
